<h3>基本信息填写 
  <nz-upload class="fr" [nzAction]="routerApi.importPro" nzName='proExcel' (nzChange)="uploadChang($event)">
    <button nz-button><i nz-icon nzType="upload"></i><span>Excel模板上传</span></button>
  </nz-upload>
  <button class="fr" nz-button nzType="default" (click)="excelSumbit()">Excel模板下载</button>
</h3>
<div class="gutter-example">
  <div nz-row nzGutter="16">
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span><i class="red">*</i>工程名称:</span>
        <input nz-input placeholder="请输入工程名称" [(ngModel)]="data.name" />
      </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span><i class="red">*</i>工程类型:</span>
        <nz-select [(ngModel)]="data.type" nzAllowClear nzPlaceHolder="工程类型">
          <nz-option *ngFor="let item of endinerrType" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span><i class="red">*</i>工程等级:</span>
        <nz-select [(ngModel)]="data.rank" nzAllowClear nzPlaceHolder="请选择工程等级">
          <nz-option nzValue="Ⅰ" nzLabel="I"></nz-option>
          <nz-option nzValue="Ⅱ" nzLabel="II"></nz-option>
          <nz-option nzValue="Ⅲ" nzLabel="III"></nz-option>
          <nz-option nzValue="Ⅳ" nzLabel="IV"></nz-option>
          <nz-option nzValue="Ⅴ" nzLabel="V"></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span><i class="red">*</i>工程规模:</span>
        <nz-select [(ngModel)]="data.size" nzAllowClear nzPlaceHolder="请选择工程规模">
          <nz-option *ngIf="data.rank" nzValue="大（1）型" nzLabel="大（1）型"></nz-option>
          <nz-option *ngIf="data.rank" nzValue="大（2）型" nzLabel="大（2）型"></nz-option>
          <nz-option *ngIf="data.rank" nzValue="中型" nzLabel="中型"></nz-option>
          <nz-option *ngIf="data.rank" nzValue="小（1）型" nzLabel="小（1）型"></nz-option>
          <nz-option *ngIf="data.rank" nzValue="小（2）型" nzLabel="小（2）型"></nz-option>
        </nz-select>
      </div>
    </div>
  </div>
  <div nz-row nzGutter="16">
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span><i class="red">*</i>工程类别:</span>
        <nz-select [(ngModel)]="data.level" nzAllowClear nzPlaceHolder="工程类型">
          <nz-option nzValue="一类" nzLabel="一类"></nz-option>
          <nz-option nzValue="二类" nzLabel="二类"></nz-option>
          <nz-option nzValue="三类" nzLabel="三类"></nz-option>
          <nz-option nzValue="四类" nzLabel="四类"></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span><i class="red">*</i>省份位置:</span>
        <nz-select [(ngModel)]="currentProvince" nzAllowClear nzPlaceHolder="请选择省份" (ngModelChange)="onExpandChange(currentProvince)">
          <nz-option *ngFor="let item of levelThree.province" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span>市区位置:</span>
        <nz-select [(ngModel)]="currentCity" nzAllowClear nzPlaceHolder="请选择市区位置" (ngModelChange)="onChangeCounty(currentCity)">
          <nz-option *ngFor="let item of levelThree.cityThe" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span>县城位置:</span>
        <nz-select [(ngModel)]="currentCounty" nzAllowClear nzPlaceHolder="请选择县城位置">
          <nz-option *ngFor="let item of levelThree.county" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </div>
    </div>
  </div>
  <div nz-row nzGutter="16">
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span><i class="red">*</i>设计流量:</span>
        <nz-input-number [(ngModel)]="data.flow" [nzMin]="1" [nzStep]="1"></nz-input-number>
      </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span><i class="red">*</i>制造时间:</span>
        <nz-date-picker [nzStyle]="{'width': '200px'}" [(ngModel)]="buildTime">
        </nz-date-picker>
      </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span><i class="red">*</i>间隔时间:</span>
        <nz-input-number [(ngModel)]="data.time" [nzMin]="1" [nzStep]="2"></nz-input-number>
      </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span><i class="red">*</i>检测单位:</span>
        <input nz-input placeholder="请输入检测单位" [(ngModel)]="data.unit" />
      </div>
    </div>
  </div>
  <div nz-row nzGutter="16">
    <div nz-col class="gutter-row" nzSpan="6">
      <div class="gutter-box">
        <span><i class="red">*</i>工程概况:</span>
        <input nz-input placeholder="请输入工程概况" [(ngModel)]="data.overview" />
      </div>
    </div>
  </div>
</div>
<!-- 历次维修加固信息 -->
<h3>历次维修加固信息 <i nz-icon nzType="plus-square" nzTheme="outline" (click)="paremeterAdd(1)"></i></h3>
<div class="tableBox">
  <table>
    <thead>
      <tr>
        <th [ngStyle]="{'width':'46px'}">序号</th>
        <th [ngStyle]="{'width':'190px'}">维修/加固时间</th>
        <th>维修/加固原因</th>
        <th [ngStyle]="{'width':'46px'}">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data.ms; let i = index;">
        <td>{{i+1}}</td>
        <td><nz-date-picker [nzStyle]="{'width': '180px'}" [(ngModel)]="data.date"></nz-date-picker></td>
        <td><input placeholder="请输入维修/加固原因" [(ngModel)]="data.reason" /></td>
        <td><i nz-icon [nzType]="'delete'" nz-tooltip nzTooltipTitle="删除" nz-popconfirm
          nzTitle="是否删除这条数据?" (nzOnConfirm)="parementerRemove(1,i)"></i></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- 历次工程险情信息 -->
<h3>历次工程险情信息 <i nz-icon nzType="plus-square" nzTheme="outline" (click)="paremeterAdd(2)"></i></h3>
<div class="tableBox">
  <table>
    <thead>
      <tr>
        <th [ngStyle]="{'width':'46px'}">序号</th>
        <th [ngStyle]="{'width':'190px'}">险情时间</th>
        <th>险情内容</th>
        <th [ngStyle]="{'width':'46px'}">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data.ds; let i = index;">
        <td>{{i+1}}</td>
        <td><nz-date-picker [nzStyle]="{'width': '180px'}" [(ngModel)]="data.date"></nz-date-picker></td>
        <td><input placeholder="请输入险情内容" [(ngModel)]="data.content" /></td>
        <td><i nz-icon [nzType]="'delete'" nz-tooltip nzTooltipTitle="删除" nz-popconfirm
          nzTitle="是否删除这条数据?" (nzOnConfirm)="parementerRemove(2,i)"></i></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- 图片上传 -->
<h3>图片上传</h3>
<div class="imgBox clearfix">
  <nz-upload [nzAction]="routerApi.uploadImg" nzListType="picture-card" [(nzFileList)]="fileList"
    [nzShowButton]="fileList.length < 3" [nzShowUploadList]="showUploadList" [nzPreview]="handlePreview" nzName='img'
    nzFileType='image/png,image/jpeg'>
    <i class="plus" nz-icon nzType="plus"></i>
    <div class="ant-upload-text">上传图片</div>
  </nz-upload>
  <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
    (nzOnCancel)="previewVisible = false">
    <ng-template #modalContent>
      <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
    </ng-template>
  </nz-modal>
</div>
<button nz-button nzType="primary" (click)="loadOne()" [nzLoading]="isLoadingOne">提交</button>