<!-- 搜索条件 -->
<div nz-row class="search">
    <ul nz-col nzSpan="22" class="searBox">
        <li class="fl">
            <span>工程等别：</span>
            <nz-select [(ngModel)]="parameter.rank" nzAllowClear nzPlaceHolder="请选择工程等别">
                <nz-option nzValue="Ⅰ" nzLabel="I"></nz-option>
                <nz-option nzValue="Ⅱ" nzLabel="II"></nz-option>
                <nz-option nzValue="Ⅲ" nzLabel="III"></nz-option>
                <nz-option nzValue="Ⅳ" nzLabel="IV"></nz-option>
                <nz-option nzValue="Ⅴ" nzLabel="V"></nz-option>
            </nz-select>
        </li>
        <li class="fl">
            <span>工程规模：</span>
            <nz-select [(ngModel)]="parameter.size" nzAllowClear nzPlaceHolder="请选择工程规模">
                <nz-option nzValue="大（1）型" nzLabel="大（1）型"></nz-option>
                <nz-option nzValue="大（2）型" nzLabel="大（2）型"></nz-option>
                <nz-option nzValue="中型" nzLabel="中型"></nz-option>
                <nz-option nzValue="小（1）型" nzLabel="小（1）型"></nz-option>
                <nz-option nzValue="小（2）型" nzLabel="小（2）型"></nz-option>
            </nz-select>
        </li>
        <li class="fl">
            <span>建造时间：</span>
            <nz-date-picker [nzStyle]="{'width': '200px'}" [(ngModel)]="parameter.buildTime"></nz-date-picker>
        </li>
        <li class="fl">
            <span>是否检测：</span>
            <nz-select [(ngModel)]="parameter.sta" nzAllowClear nzPlaceHolder="请选择是否到达检测">
                <nz-option [nzValue]="0" nzLabel="到期未检"></nz-option>
                <nz-option [nzValue]="1" nzLabel="到期已检"></nz-option>
            </nz-select>
        </li>
        <li class="fl">
            <span>设计流量：</span>
            <nz-input-number [(ngModel)]="parameter.flow" [nzMin]="1" [nzStep]="1"></nz-input-number>
        </li>
        <li class="fl">
            <span>所属地区：</span>
            <div class="select_box">
                <nz-select [(ngModel)]="provinceCityArea.province" nzAllowClear nzPlaceHolder="请选择省"
                    (ngModelChange)="onExpandChange($event)">
                    <nz-option *ngFor="let data of levelThree.province" [nzValue]="data.id" [nzLabel]="data.name">
                    </nz-option>
                </nz-select>
                <nz-select [(ngModel)]="provinceCityArea.city" nzAllowClear nzPlaceHolder="请选择市"
                    (ngModelChange)="onChangeCounty($event)">
                    <nz-option *ngFor="let data of levelThree.city" [nzValue]="data.id" [nzLabel]="data.name">
                    </nz-option>
                </nz-select>
                <nz-select [(ngModel)]="provinceCityArea.area" nzAllowClear nzPlaceHolder="请选择区/县">
                    <nz-option *ngFor="let data of levelThree.area" [nzValue]="data.id" [nzLabel]="data.name">
                    </nz-option>
                </nz-select>
            </div>
        </li>
    </ul>
    <div nz-col nzSpan="2" class="searButon">
        <button nz-button nzType="primary" (click)="searchAll()">查询</button>
    </div>
</div>

<!-- 操作 -->
<ul class="clearfix buton_box">
    <li class="fl">
        <button nz-button nzType="default" (click)="modalSelect(2)">工程险情新增</button>
    </li>
    <li class="fl">
        <button nz-button nzType="default" (click)="modalSelect(11)">工程档案新增</button>
    </li>
    <li class="fl">
        <button nz-button nzType="default" (click)="modalSelect(3)">工程修改/加固新增</button>
    </li>
    <li class="fl">
        <button nz-button nzType="default" (click)="modalSelect(1)">现状调查新增</button>
    </li>
    <li class="fl">
        <button nz-button nzType="default" (click)="modalSelect(4)">安全检测新增</button>
    </li>
    <li class="fl">
        <button nz-button nzType="default" (click)="modalSelect(5)">安全复核新增</button>
    </li>
    <li class="fl">
        <button nz-button nzType="default" (click)="modalSelect(12)">现状调查查询</button>
    </li>
    <li class="fl">
        <button nz-button nzType="default" (click)="modalSelect(6)">安全检测查询</button>
    </li>
    <li class="fl">
        <button nz-button nzType="default" (click)="modalSelect(7)">图片新增</button>
    </li>
    <li class="fl">
        <button nz-button nzType="default" (click)="modalSelect(8)">图片删除</button>
    </li>
    <li class="fl">
        <button nz-button nzType="default" (click)="modalSelect(10)">视频上传</button>
    </li>
</ul>

<!-- 数据展示 -->
<nz-table #basicTable nzSize="middle" [nzData]="totalData" [nzShowSizeChanger]="true" [nzFrontPagination]="false"
    [nzPageSize]="parameter.count" [nzPageIndex]="parameter.page" [nzTotal]="totalItems"
    (nzPageIndexChange)="searchData($event)" (nzPageSizeChange)="pageSizeChange($event)" [nzBordered]="true">
    <thead>
        <tr>
            <th [nzAlign]="'center'">序号</th>
            <th [nzAlign]="'center'">工程名称</th>
            <th [nzAlign]="'center'">工程类型</th>
            <th [nzAlign]="'center'">工程等别</th>
            <th [nzAlign]="'center'">工程规模</th>
            <th [nzAlign]="'center'">当前安全评价</th>
            <th [nzAlign]="'center'">区域位置</th>
            <th [nzAlign]="'center'">设计流量</th>
            <th [nzAlign]="'center'">建造时间</th>
            <th [nzAlign]="'center'">间隔时间</th>
            <th [nzAlign]="'center'">检测单位</th>
            <th [nzAlign]="'center'">项目状态</th>
            <th [nzAlign]="'center'">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index;" [ngClass]="{'select': currentData == data}"
            (click)="currentData=data">
            <td [nzAlign]="'center'">{{i+1}}</td>
            <td [nzAlign]="'center'">{{data.name}}</td>
            <td [nzAlign]="'center'">{{data.typeName}}</td>
            <td [nzAlign]="'center'">{{data.rank}}</td>
            <td [nzAlign]="'center'">{{data.size}}</td>
            <td [nzAlign]="'center'">{{data.level}}</td>
            <td [nzAlign]="'center'">{{data.areaDesc}}</td>
            <td [nzAlign]="'center'">{{data.flow}}</td>
            <td [nzAlign]="'center'">{{data.buildTime}}</td>
            <td [nzAlign]="'center'">{{data.time}}</td>
            <td [nzAlign]="'center'">{{data.unit}}</td>
            <td [nzAlign]="'center'" *ngIf="data.status == 0">在建</td>
            <td [nzAlign]="'center'" *ngIf="data.status == 1">完工</td>
            <td [nzAlign]="'center'">
                <i nz-icon nzType="form" nzTheme="outline" nz-tooltip nzTooltipTitle="编辑"
                    (click)="modalSelect(0,data)"></i>
                <nz-divider nzType="vertical"></nz-divider>
                <i nz-icon nzType="unordered-list" nzTheme="outline" nz-tooltip nzTooltipTitle="详情展示"
                    (click)="modalSelect(9,data)"></i>
            </td>
        </tr>
    </tbody>
</nz-table>

<!-- 基本信息编辑 -->
<nz-modal nzWidth="800px" [(nzVisible)]="informationModle" nzTitle="基本信息编辑" (nzOnCancel)="informationModle=false"
    (nzOnOk)="editorSumbit()">
    <ul class="information_three">
        <li>
            <span>区域位置</span>
            <input nz-input placeholder="区域位置" [(ngModel)]="currentData.areaDesc" readonly />
        </li>
        <li>
            <span>工程名称</span>
            <input nz-input placeholder="工程名称" [(ngModel)]="currentData.name" />
        </li>
        <li>
            <span>工程类型</span>
            <nz-select [(ngModel)]="currentData.type" nzAllowClear nzPlaceHolder="工程类型">
                <nz-option *ngFor="let item of endinerrType" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
        </li>
        <li>
            <span>工程等别</span>
            <nz-select [(ngModel)]="currentData.rank" nzAllowClear nzPlaceHolder="请选择工程等别">
                <nz-option nzValue="Ⅰ" nzLabel="I"></nz-option>
                <nz-option nzValue="Ⅱ" nzLabel="II"></nz-option>
                <nz-option nzValue="Ⅲ" nzLabel="III"></nz-option>
                <nz-option nzValue="Ⅳ" nzLabel="IV"></nz-option>
                <nz-option nzValue="Ⅴ" nzLabel="V"></nz-option>
            </nz-select>
        </li>
        <li>
            <span>工程规模</span>
            <nz-select [(ngModel)]="currentData.size" nzAllowClear nzPlaceHolder="请选择工程规模">
                <nz-option nzValue="大（1）型" nzLabel="大（1）型"></nz-option>
                <nz-option nzValue="大（2）型" nzLabel="大（2）型"></nz-option>
                <nz-option nzValue="中型" nzLabel="中型"></nz-option>
                <nz-option nzValue="小（1）型" nzLabel="小（1）型"></nz-option>
                <nz-option nzValue="小（2）型" nzLabel="小（2）型"></nz-option>
            </nz-select>
        </li>
        <li>
            <span>设计流量</span>
            <nz-input-number [(ngModel)]="currentData.flow" [nzMin]="1" [nzStep]="2"></nz-input-number>
        </li>
        <li>
            <span>建造时间</span>
            <nz-input-group [ngStyle]="{'width': '200px'}" [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="格式：2019-01" [(ngModel)]="currentData.buildTime" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i [ngStyle]="{'color': '#DEDEDE'}" nz-icon nzType="calendar"></i>
            </ng-template>
        </li>
        <li>
            <span>间隔时间</span>
            <nz-input-number [(ngModel)]="currentData.time" [nzMin]="1" [nzStep]="2"></nz-input-number>
        </li>
        <li>
            <span>检测单位</span>
            <input nz-input placeholder="检测单位" [(ngModel)]="currentData.unit" />
        </li>
        <li>
            <span>当前安全评价</span>
            <nz-select [(ngModel)]="currentData.level" nzAllowClear nzPlaceHolder="工程类型">
                <nz-option nzValue="一类" nzLabel="一类"></nz-option>
                <nz-option nzValue="二类" nzLabel="二类"></nz-option>
                <nz-option nzValue="三类" nzLabel="三类"></nz-option>
                <nz-option nzValue="四类" nzLabel="四类"></nz-option>
            </nz-select>
        </li>
        <li>
            <span>除险重建时间</span>
            <nz-input-group [ngStyle]="{'width': '200px'}" [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="格式：2019-01" [(ngModel)]="currentData.rebuildTime" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i [ngStyle]="{'color': '#DEDEDE'}" nz-icon nzType="calendar"></i>
            </ng-template>
        </li>
        <li>
            <span>拆除重建时间</span>
            <nz-input-group [ngStyle]="{'width': '200px'}" [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="格式：2019-01" [(ngModel)]="currentData.rmDangerTime" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i [ngStyle]="{'color': '#DEDEDE'}" nz-icon nzType="calendar"></i>
            </ng-template>
        </li>
    </ul>
</nz-modal>

<!-- 现状调查新增 -->
<nz-modal [(nzVisible)]="statusquoAdd" nzTitle="现状调查新增" (nzOnCancel)="statusquoAdd=false" (nzOnOk)="statusquoSubmit()">
    <ul class="paremter_list">
        <li>
            <span><i class="red">*</i>工程名称</span>
            <input nz-input placeholder="内容" [(ngModel)]="currentData.name" readonly />
        </li>
        <li>
            <span><i class="red">*</i>创建时间</span>
            <nz-input-group [ngStyle]="{'width': '100%'}" [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="格式：2019" [(ngModel)]="statusParameter.year" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i [ngStyle]="{'color': '#DEDEDE'}" nz-icon nzType="calendar"></i>
            </ng-template>
        </li>
        <li>
            <span><i class="red">*</i>工程设施</span>
            <nz-select [ngStyle]="{'width': '100%'}" [(ngModel)]="statusParameter.con" nzAllowClear
                nzPlaceHolder="工程设施">
                <nz-option nzValue="土工建筑物" nzLabel="土工建筑物"></nz-option>
                <nz-option nzValue="石工建筑物" nzLabel="石工建筑物"></nz-option>
                <nz-option nzValue="混凝土建筑物" nzLabel="混凝土建筑物"></nz-option>
                <nz-option nzValue="金属结构" nzLabel="金属结构"></nz-option>
                <nz-option nzValue="机电设备" nzLabel="机电设备"></nz-option>
                <nz-option nzValue="工程管理" nzLabel="工程管理"></nz-option>
                <nz-option nzValue="安全检测" nzLabel="安全检测"></nz-option>
            </nz-select>
        </li>
        <li *ngIf="statusParameter.con">
            <span><i class="red">*</i>对应参数</span>
            <nz-select *ngIf="statusParameter.con == '混凝土建筑物'" [ngStyle]="{'width': '100%'}"
                [(ngModel)]="statusParameter.can" nzAllowClear nzPlaceHolder="对应参数">
                <nz-option nzValue="结构裂缝" nzLabel="结构裂缝"></nz-option>
                <nz-option nzValue="锈胀裂缝" nzLabel="锈胀裂缝"></nz-option>
                <nz-option nzValue="空鼓露筋" nzLabel="空鼓露筋"></nz-option>
                <nz-option nzValue="边角破损" nzLabel="边角破损"></nz-option>
                <nz-option nzValue="质量缺陷" nzLabel="质量缺陷"></nz-option>
            </nz-select>
            <nz-select *ngIf="statusParameter.con == '金属结构'" [ngStyle]="{'width': '100%'}"
                [(ngModel)]="statusParameter.can" nzAllowClear nzPlaceHolder="对应参数">
                <nz-option nzValue="锈蚀" nzLabel="锈蚀"></nz-option>
                <nz-option nzValue="弯曲" nzLabel="弯曲"></nz-option>
                <nz-option nzValue="安装件缺失" nzLabel="安装件缺失"></nz-option>
                <nz-option nzValue="破损" nzLabel="破损"></nz-option>
            </nz-select>
            <nz-select *ngIf="statusParameter.con == '工程管理'" [ngStyle]="{'width': '100%'}"
                [(ngModel)]="statusParameter.can" nzAllowClear nzPlaceHolder="对应参数">
                <nz-option nzValue="管理体制" nzLabel="管理体制"></nz-option>
                <nz-option nzValue="管理机构设置" nzLabel="管理机构设置"></nz-option>
                <nz-option nzValue="规章制度" nzLabel="规章制度"></nz-option>
                <nz-option nzValue="人员编制" nzLabel="人员编制"></nz-option>
                <nz-option nzValue="管养经费" nzLabel="管养经费"></nz-option>
                <nz-option nzValue="总指标" nzLabel="总指标"></nz-option>
            </nz-select>
        </li>
        <li *ngIf="statusParameter.con == '工程管理' && statusParameter.can != '总指标'">
            <span><i class="red"></i>描述</span>
            <nz-radio-group [(ngModel)]="statusParameter.value">
                <label nz-radio nzValue="规范">规范</label>
                <label nz-radio nzValue="较规范">较规范</label>
                <label nz-radio nzValue="不规范">不规范</label>
            </nz-radio-group>
        </li>
        <li *ngIf="statusParameter.con == '混凝土建筑物' || statusParameter.con == '金属结构'">
            <span><i class="red"></i>描述</span>
            <nz-radio-group [(ngModel)]="statusParameter.value">
                <label nz-radio nzValue="有">有</label>
                <label nz-radio nzValue="无">无</label>
            </nz-radio-group>
        </li>
        <li *ngIf="statusParameter.can == '总指标'">
            <span><i class="red"></i>描述</span>
            <nz-radio-group [(ngModel)]="statusParameter.value">
                <label nz-radio nzValue="A级">A级</label>
                <label nz-radio nzValue="B级">B级</label>
                <label nz-radio nzValue="C级">C级</label>
            </nz-radio-group>
        </li>
    </ul>
</nz-modal>

<!-- 工程险情新增 -->
<nz-modal [(nzVisible)]="dangerAdd" nzTitle="工程险情新增" (nzOnCancel)="dangerAdd=false" (nzOnOk)="dangerSubmit()">
    <ul class="paremter_list">
        <li>
            <span><i class="red">*</i>工程名称</span>
            <input nz-input placeholder="内容" [(ngModel)]="currentData.name" readonly />
        </li>
        <li>
            <span><i class="red">*</i>险情出现时间:</span>
            <nz-date-picker [nzStyle]="{'width':'472px'}" [(ngModel)]="dangerParameter.date"></nz-date-picker>
        </li>
        <li>
            <span>险情内容</span>
            <textarea nz-input [nzAutosize]="{ minRows: 4, maxRows: 6 }" placeholder="请输入险情内容"
                [(ngModel)]="dangerParameter.content" nzAutosize></textarea>
        </li>
    </ul>
</nz-modal>

<!-- 工程档案新增 -->
<nz-modal [(nzVisible)]="archivesAdd" nzTitle="工程档案新增" (nzOnCancel)="archivesAdd=false" (nzOnOk)="archiveSumbit()">
    <ul class="paremter_list">
        <li>
            <span><i class="red">*</i>工程名称</span>
            <input nz-input placeholder="工程名称" [(ngModel)]="currentData.name" readonly />
        </li>
        <li>
            <span><i class="red">*</i>档案标题</span>
            <input nz-input placeholder="请输入档案标题" [(ngModel)]="archivesParameter.title" />
        </li>
        <li>
            <span>档案内容</span>
            <textarea nz-input [nzAutosize]="{ minRows: 4, maxRows: 6 }" placeholder="请输入档案内容"
                [(ngModel)]="archivesParameter.content" nzAutosize></textarea>
        </li>
    </ul>
</nz-modal>

<!-- 工程修改/加固新增 -->
<nz-modal [(nzVisible)]="strengtheningAdd" nzTitle="工程修改/加固新增" (nzOnCancel)="strengtheningAdd=false"
    (nzOnOk)="strengtheningSubmit()">
    <ul class="paremter_list">
        <li>
            <span><i class="red">*</i>工程名称</span>
            <input nz-input placeholder="内容" [(ngModel)]="currentData.name" readonly />
        </li>
        <li>
            <span><i class="red">*</i>维修/加固时间:</span>
            <nz-date-picker [nzStyle]="{'width':'472px'}" [(ngModel)]="strengtheningPar.date"></nz-date-picker>
        </li>
        <li>
            <span>维修/加固理由</span>
            <textarea nz-input placeholder="请输入维修/加固理由" [nzAutosize]="{ minRows: 4, maxRows: 6 }"
                [(ngModel)]="strengtheningPar.reason" nzAutosize></textarea>
        </li>
    </ul>
</nz-modal>

<!-- 安全检测新增 -->
<nz-modal [(nzVisible)]="inspectionAdd" nzTitle="安全检测新增" (nzOnCancel)="inspectionAdd=false"
    (nzOnOk)="inspectionSumbit()">
    <ul class="information_box">
        <li>
            <span><i class="red">*</i>工程名称</span>
            <input nz-input placeholder="内容" [(ngModel)]="currentData.name" readonly />
        </li>
        <li>
            <span><i class="red">*</i>创建时间</span>
            <nz-input-group [ngStyle]="{'width': '200px'}" [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="格式：2019" [(ngModel)]="inspectionParameter.year" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i [ngStyle]="{'color': '#DEDEDE'}" nz-icon nzType="calendar"></i>
            </ng-template>
        </li>
        <li>
            <span><i class="red">*</i>水闸两侧岸</span>
            <nz-select [(ngModel)]="inspectionParameter.part" nzAllowClear nzPlaceHolder="水闸两侧岸">
                <nz-option nzValue="上游连接段" nzLabel="上游连接段"></nz-option>
                <nz-option nzValue="下游连接段" nzLabel="下游连接段"></nz-option>
                <nz-option nzValue="闸室" nzLabel="闸室"></nz-option>
            </nz-select>
        </li>
        <li>
            <span><i class="red">*</i>请选择部位</span>
            <nz-select [(ngModel)]="inspectionParameter.site" nzAllowClear nzPlaceHolder="请选择部位">
                <nz-option *ngFor="let data of partSite[inspectionParameter.part]" [nzValue]="data" [nzLabel]="data">
                </nz-option>
            </nz-select>
        </li>
        <li *ngIf="inspectionParameter.site != '启闭机' && inspectionParameter.name != '总工程质量'">
            <span><i class="red">*</i>指标名</span>
            <nz-select [(ngModel)]="inspectionParameter.name" nzAllowClear nzPlaceHolder="指标名">
                <nz-option nzValue="混凝土强度" nzLabel="混凝土强度"></nz-option>
                <nz-option nzValue="碳化深度" nzLabel="碳化深度"></nz-option>
                <nz-option nzValue="保护层厚度" nzLabel="保护层厚度"></nz-option>
                <nz-option nzValue="裂缝宽度" nzLabel="裂缝宽度"></nz-option>
                <nz-option nzValue="钢筋锈蚀率" nzLabel="钢筋锈蚀率"></nz-option>
                <nz-option nzValue="腐蚀和蚀余厚度" nzLabel="腐蚀和蚀余厚度"></nz-option>
                <nz-option nzValue="变形" nzLabel="变形"></nz-option>
                <nz-option nzValue="沉降" nzLabel="沉降"></nz-option>
                <nz-option nzValue="总工程质量" nzLabel="总工程质量"></nz-option>
                <nz-option nzValue="机电设备(启闭机)" nzLabel="机电设备(启闭机)"></nz-option>
            </nz-select>
        </li>
        <li *ngIf="inspectionParameter.site != '启闭机' && inspectionParameter.name != '总工程质量'">
            <span><i class="red">*</i>极大值</span>
            <nz-input-number [(ngModel)]="inspectionParameter.max" [nzMin]="1" [nzStep]="2"></nz-input-number>
        </li>
        <li *ngIf="inspectionParameter.site != '启闭机' && inspectionParameter.name != '总工程质量'">
            <span><i class="red">*</i>极小值</span>
            <nz-input-number [(ngModel)]="inspectionParameter.min" [nzMin]="1" [nzStep]="2"></nz-input-number>
        </li>
        <li *ngIf="inspectionParameter.site != '启闭机' && inspectionParameter.name != '总工程质量'">
            <span><i class="red">*</i>平均值</span>
            <nz-input-number [(ngModel)]="inspectionParameter.avg" [nzMin]="1" [nzStep]="2"></nz-input-number>
        </li>
        <li *ngIf="inspectionParameter.site != '启闭机' && inspectionParameter.name != '总工程质量'">
            <span><i class="red">*</i>规范/设计要求值</span>
            <nz-input-number [(ngModel)]="inspectionParameter.value" [nzMin]="1" [nzStep]="2"></nz-input-number>
        </li>
        <li>
            <span><i class="red">*</i>综合状态值</span>
            <nz-select *ngIf="inspectionParameter.site != '启闭机' && inspectionParameter.name != '总工程质量'"
                [(ngModel)]="inspectionParameter.state" nzAllowClear nzPlaceHolder="综合状态值">
                <nz-option nzValue="满足" nzLabel="满足"></nz-option>
                <nz-option nzValue="不满足" nzLabel="不满足"></nz-option>
            </nz-select>
            <nz-select *ngIf="inspectionParameter.site == '启闭机' || inspectionParameter.name == '总工程质量'"
                [(ngModel)]="inspectionParameter.state" nzAllowClear nzPlaceHolder="综合状态值">
                <nz-option nzValue="一类" nzLabel="一类"></nz-option>
                <nz-option nzValue="二类" nzLabel="二类"></nz-option>
                <nz-option nzValue="三类" nzLabel="三类"></nz-option>
                <nz-option nzValue="四类" nzLabel="四类"></nz-option>
            </nz-select>
        </li>
    </ul>
</nz-modal>

<!-- 安全复核新增 -->
<nz-modal [(nzVisible)]="securityCheck" nzTitle="安全复核新增" (nzOnCancel)="securityCheck=false"
    (nzOnOk)="securitycheckSumbit()">
    <ul class="paremter_list">
        <li>
            <span><i class="red">*</i>工程名称</span>
            <input nz-input placeholder="内容" [(ngModel)]="currentData.name" readonly />
        </li>
        <li>
            <span><i class="red">*</i>内容</span>
            <nz-select [ngStyle]="{'width': '472px'}" [(ngModel)]="securitycheckPar.con" nzAllowClear
                nzPlaceHolder="内容">
                <nz-option nzValue="防洪标准复核" nzLabel="防洪标准复核"></nz-option>
                <nz-option nzValue="渗流安全复核" nzLabel="渗流安全复核"></nz-option>
                <nz-option nzValue="结构安全复核" nzLabel="结构安全复核"></nz-option>
                <nz-option nzValue="抗震安全复核" nzLabel="抗震安全复核"></nz-option>
                <nz-option nzValue="金属结构安全复核" nzLabel="金属结构安全复核"></nz-option>
                <nz-option nzValue="机电设备安全复核" nzLabel="机电设备安全复核"></nz-option>
            </nz-select>
        </li>
        <li>
            <span><i class="red">*</i>参数选择</span>
            <nz-radio-group [(ngModel)]="securitycheckPar.value">
                <label *ngFor="let item of can" nz-radio [nzValue]="item">{{item}}</label>
            </nz-radio-group>
        </li>
    </ul>
</nz-modal>

<!-- 现状调查查询 -->
<nz-modal [(nzVisible)]="statusqoSearch" nzWidth="1000px" nzTitle="现状调查查询" (nzOnCancel)="statusqoSearch=false"
    (nzOnOk)="statusqoSearch=false">
    <nz-table #statusqoTable nzSize="small" [nzData]="statusqoAlldata" [nzFrontPagination]='true' [nzBordered]="true">
        <thead>
            <tr>
                <th [nzAlign]="'center'" nzWidth="60px">序号</th>
                <th [nzAlign]="'center'" nzWidth="20%">工程名称</th>
                <th [nzAlign]="'center'" nzWidth="10%">创建时间</th>
                <th [nzAlign]="'center'" nzWidth="20%">工程设施</th>
                <th [nzAlign]="'center'" nzWidth="20%">对应参数</th>
                <th [nzAlign]="'center'" nzWidth="15%">描述</th>
                <th [nzAlign]="'center'">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of statusqoTable.data;let i=index;">
                <td [nzAlign]="'center'">{{i+1}}</td>
                <td [nzAlign]="'center'">{{currentData.name}}</td>
                <td [nzAlign]="'center'">{{data.year}}</td>
                <td [nzAlign]="'center'">
                    <nz-select [ngStyle]="{'width': '90%'}" nzSize="small" [(ngModel)]="data.con" nzAllowClear
                        nzPlaceHolder="工程设施" [nzDisabled]="data.disabled">
                        <nz-option nzValue="土工建筑物" nzLabel="土工建筑物"></nz-option>
                        <nz-option nzValue="石工建筑物" nzLabel="石工建筑物"></nz-option>
                        <nz-option nzValue="混凝土建筑物" nzLabel="混凝土建筑物"></nz-option>
                        <nz-option nzValue="金属结构" nzLabel="金属结构"></nz-option>
                        <nz-option nzValue="机电设备" nzLabel="机电设备"></nz-option>
                        <nz-option nzValue="工程管理" nzLabel="工程管理"></nz-option>
                        <nz-option nzValue="安全检测" nzLabel="安全检测"></nz-option>
                    </nz-select>
                </td>
                <td [nzAlign]="'center'">
                    <nz-select [ngStyle]="{'width': '90%'}" nzSize="small" *ngIf="data.con == '混凝土建筑物'"
                        [(ngModel)]="data.can" nzAllowClear nzPlaceHolder="对应参数" [nzDisabled]="data.disabled">
                        <nz-option nzValue="结构裂缝" nzLabel="结构裂缝"></nz-option>
                        <nz-option nzValue="锈胀裂缝" nzLabel="锈胀裂缝"></nz-option>
                        <nz-option nzValue="空鼓露筋" nzLabel="空鼓露筋"></nz-option>
                        <nz-option nzValue="边角破损" nzLabel="边角破损"></nz-option>
                        <nz-option nzValue="质量缺陷" nzLabel="质量缺陷"></nz-option>
                    </nz-select>
                    <nz-select [ngStyle]="{'width': '90%'}" nzSize="small" *ngIf="data.con == '金属结构'"
                        [(ngModel)]="data.can" nzAllowClear nzPlaceHolder="对应参数" [nzDisabled]="data.disabled">
                        <nz-option nzValue="锈蚀" nzLabel="锈蚀"></nz-option>
                        <nz-option nzValue="弯曲" nzLabel="弯曲"></nz-option>
                        <nz-option nzValue="安装件缺失" nzLabel="安装件缺失"></nz-option>
                        <nz-option nzValue="破损" nzLabel="破损"></nz-option>
                    </nz-select>
                    <nz-select [ngStyle]="{'width': '90%'}" nzSize="small" *ngIf="data.con == '工程管理'"
                        [(ngModel)]="data.can" nzAllowClear nzPlaceHolder="对应参数" [nzDisabled]="data.disabled">
                        <nz-option nzValue="管理体制" nzLabel="管理体制"></nz-option>
                        <nz-option nzValue="管理机构设置" nzLabel="管理机构设置"></nz-option>
                        <nz-option nzValue="规章制度" nzLabel="规章制度"></nz-option>
                        <nz-option nzValue="人员编制" nzLabel="人员编制"></nz-option>
                        <nz-option nzValue="管养经费" nzLabel="管养经费"></nz-option>
                        <nz-option nzValue="总指标" nzLabel="总指标"></nz-option>
                    </nz-select>
                </td>
                <td>
                    <nz-radio-group *ngIf="data.con == '工程管理' && statusParameter.can != '总指标'"
                        [ngStyle]="{'width': '90%'}" nzSize="small" [(ngModel)]="data.value"
                        [nzDisabled]="data.disabled">
                        <label nz-radio nzValue="规范">规范</label>
                        <label nz-radio nzValue="较规范">较规范</label>
                        <label nz-radio nzValue="不规范">不规范</label>
                    </nz-radio-group>
                    <nz-radio-group *ngIf="statusParameter.con == '混凝土建筑物' || statusParameter.con == '金属结构'"
                        [ngStyle]="{'width': '90%'}" nzSize="small" [(ngModel)]="statusParameter.value"
                        [nzDisabled]="data.disabled">
                        <label nz-radio nzValue="有">有</label>
                        <label nz-radio nzValue="无">无</label>
                    </nz-radio-group>
                    <nz-radio-group *ngIf="statusParameter.can == '总指标'" [ngStyle]="{'width': '90%'}" nzSize="small"
                        [(ngModel)]="statusParameter.value" [nzDisabled]="data.disabled">
                        <label nz-radio nzValue="A级">A级</label>
                        <label nz-radio nzValue="B级">B级</label>
                        <label nz-radio nzValue="C级">C级</label>
                    </nz-radio-group>
                </td>
                <td [nzAlign]="'center'">
                    <i *ngIf="data.disabled" nz-icon nzType="form" nzTheme="outline" nz-tooltip nzTooltipTitle="编辑"
                        (click)="data.disabled=false"></i>
                    <i *ngIf="!data.disabled" nz-icon nzType="save" nzTheme="outline" nz-tooltip nzTooltipTitle="保存"
                        (click)="updParam(data)"></i>
                    <nz-divider nzType="vertical"></nz-divider>
                    <i nz-icon [nzType]="'delete'" nz-tooltip nzTooltipTitle="删除" nz-popconfirm nzTitle="是否删除这条数据?"
                        (nzOnConfirm)="delectlocation(data.id)"></i>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-modal>

<!-- 安全检测查询 -->
<nz-modal [(nzVisible)]="securitycheckModle" nzWidth="1000px" nzTitle="安全检测查询" (nzOnCancel)="securitycheckModle=false"
    (nzOnOk)="securitycheckModle=false">
    <nz-table #securiTable nzSize="small" [nzData]="securityData" [nzFrontPagination]='true' [nzBordered]="true">
        <thead>
            <tr>
                <th [nzAlign]="'center'" nzWidth="60px">序号</th>
                <th [nzAlign]="'center'" nzWidth="20%">水闸两侧岸</th>
                <th [nzAlign]="'center'" nzWidth="15%">部位</th>
                <th [nzAlign]="'center'" nzWidth="10%">指标名</th>
                <th [nzAlign]="'center'" nzWidth="8%">极大值</th>
                <th [nzAlign]="'center'" nzWidth="8%">极小值</th>
                <th [nzAlign]="'center'" nzWidth="8%">平均值</th>
                <th [nzAlign]="'center'" nzWidth="10%">规范/设计要求值</th>
                <th [nzAlign]="'center'" nzWidth="10%">综合状态值</th>
                <th [nzAlign]="'center'">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of securiTable.data;let i=index;">
                <td [nzAlign]="'center'">{{i+1}}</td>
                <td [nzAlign]="'center'">
                    <!-- <input nz-input nzSize="small" type="text" [(ngModel)]="data.part" [disabled]="data.disabled"> -->
                    <nz-select [ngStyle]="{'width': '90%'}" nzSize="small" [nzDisabled]="data.disabled"
                        [(ngModel)]="data.part" nzAllowClear nzPlaceHolder="水闸两侧岸">
                        <nz-option nzValue="上游连接段" nzLabel="上游连接段"></nz-option>
                        <nz-option nzValue="下游连接段" nzLabel="下游连接段"></nz-option>
                        <nz-option nzValue="闸室" nzLabel="闸室"></nz-option>
                    </nz-select>
                </td>
                <td [nzAlign]="'center'">
                    <nz-select [ngStyle]="{'width': '90%'}" nzAllowClear nzSize="small" [nzDisabled]="data.disabled"
                        [(ngModel)]="data.site" nzPlaceHolder="请选择部位">
                        <nz-option *ngFor="let item of partSite[data.part]" [nzValue]="item" [nzLabel]="item">
                        </nz-option>
                    </nz-select>
                </td>
                <td [nzAlign]="'center'">
                    <nz-select *ngIf="data.site != '启闭机' && inspectionParameter.name != '总工程质量'"
                        [ngStyle]="{'width': '90%'}" nzSize="small" [(ngModel)]="data.name" nzAllowClear
                        nzPlaceHolder="指标名" [disabled]="data.disabled">
                        <nz-option nzValue="混凝土强度" nzLabel="混凝土强度"></nz-option>
                        <nz-option nzValue="碳化深度" nzLabel="碳化深度"></nz-option>
                        <nz-option nzValue="保护层厚度" nzLabel="保护层厚度"></nz-option>
                        <nz-option nzValue="裂缝宽度" nzLabel="裂缝宽度"></nz-option>
                        <nz-option nzValue="钢筋锈蚀率" nzLabel="钢筋锈蚀率"></nz-option>
                        <nz-option nzValue="腐蚀和蚀余厚度" nzLabel="腐蚀和蚀余厚度"></nz-option>
                        <nz-option nzValue="变形" nzLabel="变形"></nz-option>
                        <nz-option nzValue="沉降" nzLabel="沉降"></nz-option>
                        <nz-option nzValue="总工程质量" nzLabel="总工程质量"></nz-option>
                        <nz-option nzValue="机电设备(启闭机)" nzLabel="机电设备(启闭机)"></nz-option>
                    </nz-select>
                </td>
                <td [nzAlign]="'center'">
                    <input [ngStyle]="{'width': '90%'}" nz-input nzSize="small" type="text" [(ngModel)]="data.max"
                        [disabled]="data.disabled">
                </td>
                <td [nzAlign]="'center'">
                    <input [ngStyle]="{'width': '90%'}" nz-input nzSize="small" type="text" [(ngModel)]="data.min"
                        [disabled]="data.disabled">
                </td>
                <td [nzAlign]="'center'">
                    <input [ngStyle]="{'width': '90%'}" nz-input nzSize="small" type="text" [(ngModel)]="data.avg"
                        [disabled]="data.disabled">
                </td>
                <td [nzAlign]="'center'">
                    <input [ngStyle]="{'width': '90%'}" nz-input nzSize="small" type="text" [(ngModel)]="data.value"
                        [disabled]="data.disabled">
                </td>
                <td [nzAlign]="'center'">
                    <nz-select [ngStyle]="{'width': '90%'}" nzSize="small"
                        *ngIf="data.site == '启闭机' || inspectionParameter.name == '总工程质量'" [(ngModel)]="data.state"
                        nzAllowClear nzPlaceHolder="综合状态值" [disabled]="data.disabled">
                        <nz-option nzValue="一类" nzLabel="一类"></nz-option>
                        <nz-option nzValue="二类" nzLabel="二类"></nz-option>
                        <nz-option nzValue="三类" nzLabel="三类"></nz-option>
                        <nz-option nzValue="四类" nzLabel="四类"></nz-option>
                    </nz-select>
                    <nz-select [ngStyle]="{'width': '90%'}" nzSize="small"
                        *ngIf="data.site != '启闭机' && inspectionParameter.name != '总工程质量'" [(ngModel)]="data.state"
                        nzAllowClear nzPlaceHolder="综合状态值" [disabled]="data.disabled">
                        <nz-option nzValue="满足" nzLabel="满足"></nz-option>
                        <nz-option nzValue="不满足" nzLabel="不满足"></nz-option>
                    </nz-select>
                </td>
                <td [nzAlign]="'center'">
                    <i *ngIf="data.disabled" nz-icon nzType="form" nzTheme="outline" nz-tooltip nzTooltipTitle="编辑"
                        (click)="data.disabled=false"></i>
                    <i *ngIf="!data.disabled" nz-icon nzType="save" nzTheme="outline" nz-tooltip nzTooltipTitle="保存"
                        (click)="inspectionseditSumbit(data)"></i>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-modal>

<!-- 图片新增 -->
<nz-modal [(nzVisible)]="customModify" nzTitle="图片新增" (nzOnCancel)="customModify=false" (nzOnOk)="imgaddSubmit()">
    <p>工程名称: {{currentData.name}}</p>
    <nz-upload [nzAction]="routerApi.uploadImg" nzListType="picture-card" [(nzFileList)]="fileList"
        [nzShowButton]="fileList.length < 3" [nzShowUploadList]="showUploadList" [nzPreview]="handlePreview"
        nzName='img' nzFileType='image/png,image/jpeg'>
        <i nz-icon nzType="plus"></i>
        <div class="ant-upload-text">图片上传</div>
    </nz-upload>
    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
        (nzOnCancel)="previewVisible = false">
        <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
        </ng-template>
    </nz-modal>
</nz-modal>

<!-- 图片删除 -->
<nz-modal [(nzVisible)]="imagesDelect" nzWidth="800px" nzTitle="图片删除" (nzOnCancel)="imagesDelect=false"
    (nzOnOk)="imagesDelect=false">
    <p>工程名称: {{currentData.name}}</p>
    <ul class="image_list clearfix">
        <li class="fl" *ngFor="let urlSrc of projectInformation.imgs">
            <span><i nz-icon nzType="delete" nzTheme="outline" (click)="delectImage(urlSrc, currentData.id)"></i></span>
            <img [src]="urlSrc" alt="">
        </li>
    </ul>
</nz-modal>

<!-- 视频上传 -->
<nz-modal [(nzVisible)]="videoAddmodify" nzWidth="800px" nzTitle="视频上传" (nzOnCancel)="videoAddmodify=false"
    (nzOnOk)="videoAddSubmit()">
    <p>工程名称: {{currentData.name}}</p>
    <nz-upload [nzAction]="routerApi.uploadVideo" nzListType="picture-card" [(nzFileList)]="videoList"
        [nzShowButton]="videoList.length < 3" [nzShowUploadList]="showUploadList" [nzPreview]="handlePreview"
        nzName='video'>
        <i nz-icon nzType="plus"></i>
        <div class="ant-upload-text">视频上传</div>
    </nz-upload>
    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
        (nzOnCancel)="previewVisible = false">
        <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
        </ng-template>
    </nz-modal>
</nz-modal>

<!-- 工程详情 -->
<nz-drawer [nzVisible]="projectModify" [nzWidth]="640" [nzClosable]="false" (nzOnClose)="projectModify=false">
    <nz-descriptions [nzColumn]="2" [nzTitle]="projectInformation.name">
        <nz-descriptions-item nzTitle="检测单位" *ngIf="projectInformation.unit" [nzSpan]="1">{{ projectInformation.unit }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="所属流域" *ngIf="!projectInformation.unit" [nzSpan]="1">
            {{ projectInformation.waterDesc }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="所属地区" [nzSpan]="1">{{ projectInformation.areaDesc }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="工程等别" [nzSpan]="1">{{ projectInformation.rank }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="工程规模" [nzSpan]="1">{{ projectInformation.size }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="设计流量" [nzSpan]="1">{{ projectInformation.flow }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="建造时间" [nzSpan]="1">{{ projectInformation.buildTime }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="间隔时间" [nzSpan]="1">{{ projectInformation.time }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="当前安全评价" [nzSpan]="1">{{ projectInformation.level }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="除险重建时间" [nzSpan]="1">{{ projectInformation.rebuildTime }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="拆除重建时间" [nzSpan]="1">{{ projectInformation.rmDangerTime }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="工程概况" [nzSpan]="2">{{ projectInformation.overview }}</nz-descriptions-item>
    </nz-descriptions>
    <nz-divider></nz-divider>
    <nz-descriptions [nzColumn]="2" nzTitle="历次工程险情信息"></nz-descriptions>
    <nz-table #peojectRiskTable nzSize="small" [nzScroll]="{ y: '340px' }" [nzFrontPagination]="false"
        [nzData]="projectInformation.ds">
        <thead>
            <tr>
                <th nzAlign="center" nzWidth="46px">序号</th>
                <th nzWidth="150px">险情时间</th>
                <th>险情内容</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of peojectRiskTable.data; let i = index">
                <td nzAlign="center">{{i+1}}</td>
                <td>{{data.date}}</td>
                <td>{{data.content}}</td>
            </tr>
        </tbody>
    </nz-table>
    <nz-divider></nz-divider>
    <nz-descriptions [nzColumn]="2" nzTitle="历次维修加固信息"></nz-descriptions>
    <nz-table #maintenanceTable nzSize="small" [nzScroll]="{ y: '340px' }" [nzFrontPagination]="false"
        [nzData]="projectInformation.ms">
        <thead>
            <tr>
                <th nzAlign="center" nzWidth="46px">序号</th>
                <th nzWidth="150px">维修/加固时间</th>
                <th>维修/加固原因</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of maintenanceTable.data; let i = index">
                <td nzAlign="center">{{i+1}}</td>
                <td>{{data.date}}</td>
                <td>{{data.reason}}</td>
            </tr>
        </tbody>
    </nz-table>
    <nz-divider></nz-divider>
    <nz-descriptions [nzColumn]="2" nzTitle="工程图片"></nz-descriptions>
    <ul class="image_list">
        <li class="fl" *ngFor="let data of projectInformation.imgs"><img [src]="data" alt=""></li>
    </ul>
    <nz-divider></nz-divider>
    <nz-descriptions [nzColumn]="2" nzTitle="工程视频"></nz-descriptions>
    <ul class="image_list">
        <li class="fl" *ngFor="let data of projectInformation.videos">
            <video controls="controls" autoplay="autoplay">
                your browser does not support the video tag
                <source [src]="data" type="video/mp4" />
            </video>
        </li>
    </ul>
</nz-drawer>